*{
    margin: 0;
    padding: 0;
}

.back{
    background-image: url('images/banner.jpg');
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(42, 39, 39);
    color: white;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
}

ul{
    display: flex;
}

li{
list-style-type: none;
padding: 25px 35px 25px 10px;
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
}

.idea{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 130px;
    color: white;
    
}

.work h4{
    font-size: 85px;
    width: 500px;
    padding: 30px;
    font-weight:700 ;
}

.para{
    font-size: 17px;
    width: 480px;
    line-height: 26px;
    margin-bottom: 40px;
}

.btn{
    display: flex;
}
.btn1{
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    border: 0;

}
.btn2{
    padding: 15px 50px;
    text-align: center;
    font-size: 16px;
    margin-left: 8px;
    border: 0;
}
.btn1:hover{
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;
}

.btn2:hover{
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;
}

.icon{
    font-size: 21px;
    margin-top: 22px;
}

.icons{
    padding: 3px;
}

.icons:hover{
    color: black;
    transition: 0.25s ease-in-out;
}

.do{
    text-align: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(51, 50, 50);
}
hr{
    width: 80px;
    margin: auto;
    height: 10px;
    background-color:  rgb(21, 21, 21);
    margin-top: 10px;
}

.max{
    max-width: 1200px;
    display: flex;
    /* justify-content: space-around; */
    margin: auto;
    margin-bottom: 50px;
    margin-top: 40px;

}

 .mini{
    border: 1px solid rgb(143, 139, 139);
    margin: 0px 10px 0px 10px;
    padding: 30px 40px;
    font-family: Arial, Helvetica, sans-serif;
    /* box-shadow: 3px 3px 7px black; */
    box-shadow: 2px 2px 5px rgb(83, 81, 81);
} 

.mini:hover{
    background-color: rgb(250, 248, 248);
}

.img{
    margin-top: 10px;
}
.head{
    margin: 25px 0px 30px 0px;
    font-size:25px;

}
.para1{
    color: #222;
    line-height: 25px;
}
.ton button{
    padding: 10px 20px;
    background-color: #3a3434;
    color: white;border: none;
    font-size: 17px;

}
.ton{
    margin-top: 30px;
    margin-left: 150px;
}

.chevron{
    /* margin-left: 600px; */
    display: flex;
    justify-content: center;
}
.chevron i{
    font-size: 25px;
    margin: 0px 10px;
    padding: 12px 25px;
    margin-bottom: 40px;
    box-shadow: 2px 2px 5px rgb(83, 81, 81);
}

.chevron i:hover{
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;
}

.company{
    background-image: url('images/about_bg.jpg');
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
}

.comp-container{
    /* position: absolute;
    top: 90px;
    left: 380px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white; */
    text-align: center;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.my-4{
    background-color: white;
    width: 90px;
}

.about{
    font-size: 30px;
    margin-bottom: 15px;

}

.para3{
    font-size: 16px;
    margin-top: 10px;
}

.done{
    font-size: 30px;
    margin: 70px 0px 10px 0px;
    color: rgb(51, 50, 50);
   font-family: Arial, Helvetica, sans-serif;
   margin-left: 50px;
}

.my-1{
    text-align: right;
    margin: 0;
    background-color:  rgb(21, 21, 21);
    margin-bottom: 40px;
    margin-left: 50px;

}

.main-port{
    display: flex;
    justify-content:space-around;
    /* margin-bottom: 30px; */
}

.port3 img{
    width: 500px;
    height: 300px;
    margin-bottom: 30px;
}
/* .port1 img{
    width: 500px;
    height: 300px;
    margin-bottom: 30px; 
} */

.see{
    text-align: center;
    margin: 40px 0px 50px 0px;
}

.see button{
    padding: 15px 45px;
    border: none;
    background-color:  rgb(21, 21, 21);
    color: white;
    font-size: 20px;

}

.see button:hover{
    background-color:  rgb(74, 70, 70);
    color: white;
        transition: 0.5s ease-in-out;


}

.max1{
    max-width: 1500px;
    margin: auto;
    background-color: #3a3434;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-bottom: 40px;

}

.project{
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
}

.my-5{
    background-color: white;
    margin: 0;
    height: 9px;
    margin-top: 8px;
    margin-left: 125px;

}

.us{
    padding-top: 70px;
    font-size: 30px;
    margin-left: 125px;
}

.des{
    font-size: 30px;
    margin: 15px 0px 8px 0px;
}

.mond{
    font-size: 40px;
    margin-bottom: 30px;

}

.sol button{
 padding: 15px 40px;
 border: none;
 font-size: 16px;
}

.sol button:hover{
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;
}

.get-in{
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

.get-touch{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.my-6 hr{
    margin: 0;
    width: 80px;
    margin: 5px 0px 50px 0px;
    }
.my-7 hr{
margin: 0;
width: 80px;
margin: 5px 0px 50px 0px;
}

.max2{
    max-width: 400px;
    margin: auto;
    height: 300px;
    text-align: center;
    text-align: justify;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 30px;
   /* margin-bottom: 50px; */
    box-shadow: 2px 2px 5px rgb(83, 81, 81);
}

.max2:hover{
    background-color: rgb(250, 248, 248);

}

.head1{
    font-size: 40px;
}

.input input{
    padding: 20px 0px;
    margin-bottom: 20px;
    border: 1px solid #d7d2d2;
    font-size: 15px;
    width: 100%;
}

/* 
.input input::placeholder{
    position: absolute;
    top: 35px;
    left: 70px;
} */


.input textarea{
    border: 1px solid #d7d2d2;
   /* font-size: 21px; */
   color: #3a3434;
   width: 100%;
}
/* 
.input textarea::placeholder{
    position: absolute;
    top: 60px;
    left: 70px; 
} */

.senda button{
    padding: 15px 30px;
    margin: 40px 0px;
    font-size: 20px;
    color: white;
    background-color: black;
}

.senda button:hover{
    transition: 0.3s ease-in;
    color: white;
    background-color: rgb(141, 134, 134);
    border: 0;
}

.dan{
    margin-top: 150px;
}

.dan1{
    padding-top: 25px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}


.dan-img{
    position: absolute;
    top: 60px;
    left: 400px;
}

.dan1-img{
    position: absolute;
  top: -65px;
}

.para5{
    line-height: 27px;

}

.chevron2{
    margin: 50px 0px 0px 130px;
    font-size: 20px;
    display: flex;
    margin-bottom: 50px;
}

.chevron2 i{
    margin: 0px 10px;
    padding: 12px 25px;
    box-shadow: 2px 2px 5px rgb(83, 81, 81);
}

.chevron2 i:hover{
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;
}

.last-section{
    background-color: #3a3434;
    height: 100%;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
    /* position: relative; */ 
}

.holder{
    display: flex;
}
.footer2 input{
    width: 350px;
    border: 0;
    border: none;
    padding: 20px 20px;
}

.footer3 button{
padding: 20px 20px;
/* border: 0; */
background-color: black;
color: white;
border: none;
/* position: absolute;
right: 70px;
top: 99px; */
}

.footer3 button:hover{
    background-color: white;
    color: black;
    transition: 0.5s ease-in;
}

.link1{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.link-us h4{
    font-size: 25px;
    margin-bottom: 20px;
}
.link-us p{
    margin-bottom: 15px;
}

.link-us i{
    margin-right: 20px;
}

.temp{
    background-color: rgb(14, 12, 12);
    color: white;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.href{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.para7{
    font-size: 18px;
    color: grey;
}
.href1 a{
    color: white;
    font-size: 25px;
    margin-right: 10px;
}

.href1 i:hover{
    color: yellow;
    transition: 0.25s ease-in-out;
  
}

       /*Media Quries Section  */

       @media(max-width: 1014px){
        .back{
    background-image: url('images/banner.jpg');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100%; */
}
        .port3 img{
            width: 400px;
            height: 250px;
        }
        .ton{
            margin-left: 100px;
        }
       }
       @media(max-width: 978px){
        .ton{
            margin-left: 80px;
        }  
.max{
    flex-wrap: wrap;
    justify-content: center;
}
.mini{
    border: 1px solid rgb(143, 139, 139);
    margin: 20px 10px;
    padding: 30px 40px;
  width: 30%;
       }
       .mini{
        border: 1px solid rgb(143, 139, 139);
        margin: 20px 10px;
        padding: 30px 40px;
      width: 30%;
           }
           .mini{
            border: 1px solid rgb(143, 139, 139);
            margin: 20px 10px;
            padding: 30px 40px;
          width: 30%;
               }
              
               .head{
                font-size: 20px;
               }
    }
    @media(max-width: 978px){
        .ton{
            margin-left: 80px;
        }  
    }
.max{
    flex-wrap: wrap;
    justify-content: center;
}
.mini{
    border: 1px solid rgb(143, 139, 139);
    margin: 20px 10px;
    padding: 30px 40px;
  width: 30%;
       }
       .mini{
        border: 1px solid rgb(143, 139, 139);
        margin: 20px 10px;
        padding: 30px 40px;
      width: 30%;
           }
           .mini{
            border: 1px solid rgb(143, 139, 139);
            margin: 20px 10px;
            padding: 30px 40px;
          width: 30%;
               }

    @media(max-width: 920px){
        .ton{
            margin-left: 120px;
        }
    }
    @media(max-width: 907px){
   
        .max2{
            max-width: 300px;
            margin: auto;
            height: 350px;
          
        }
        
.dan-img{
    position: absolute;
    top: 60px;
    left: 300px;
}
.dan{
    margin-top: 50px;
}
.dan1-img{
    position: absolute;
  top: -35px;
}
.dan1{
  margin-left: 60px;
  font-size: 18px;
}
       }
       @media(max-width: 900px){
        .head1{
            font-size: 30px;
        }
    }
    @media(max-width: 866px){
        li{
            padding: 25px 15px 25px 10px;
            font-size: 18px;
            }
    }
    @media(max-width: 866px){
        .ton{
            margin-left: 120px;
        }   
        .ton button{
            font-size: 14px;
       }  
        .head{
            font-size: 15px;
            font-weight: 800;
           }
           .para1{
            font-size: 13px;
           }
           .port3 img{
            width: 350px;
            height: 200px;
        }
        .done{
            font-size: 25px;
        }
        .work h4{
            font-size: 50px;
            font-weight: 800;
        }
        .do{
            font-size: 30px;
        }
        hr{
            width: 70px;
            height: 6px;
        }
        
.us{
    padding-top: 70px;
    font-size: 25px;
    margin-left: 45px;
    font-weight: 800;
}
.des{
    font-size: 20px;
    margin: 15px 0px 8px 0px;
}

.mond{
    font-size: 20px;
    margin-bottom: 30px;

}
.my-5{
    margin-left: 45px;
}
.sol button{
    padding: 12px 25px;
    border: none;
    font-size: 16px;
   }
   .max2{
    max-width: 260px;
    margin: auto;
    height: 350px;
  
}

.dan-img{
position: absolute;
top: 60px;
left: 250px;
}
.dan{
margin-top: 50px;
}
.dan1-img{
position: absolute;
top: -35px;
}
.dan1{
margin-left: 80px;
font-size: 18px;
}
.para5{
font-size: 12px;
}
.chevron2{
    margin: 50px 0px 0px 75px;
   
    margin-bottom: 50px;
}
.head1{
    font-size: 22px;
    font-weight: 900;
}
.footer3 button{
    font-size: 15px;
}
.link-us h4{
    font-size: 18px;
    font-weight: 800;
}
.link-us p{
    font-size: 13px;
    margin-bottom: 3px;
}
.para7{
    font-size: 15px;
    color: grey;
}
.href1 a{
    color: white;
    font-size: 20px;
    margin-right: 10px;
}
.footer2 input{
    width: 300px;
  
}
    }

    @media(max-width: 764px){
        
/* .done{
    font-size: 30px;
    margin: 70px 0px 10px 0px;
    color: rgb(51, 50, 50);
   font-family: Arial, Helvetica, sans-serif;
   margin-left: 50px;
}

.my-1{
    text-align: right;
    margin: 0;
    background-color:  rgb(21, 21, 21);
    margin-bottom: 40px;
    margin-left: 50px;

} */
            .ton{
                margin-left: 90px;
            } 

       .get-touch{
        flex-wrap: wrap;
       } 
       .diva{
        width: 80%;
       }
       .divas .max2{
        width: 100%;
        margin-top: 60px;
       }
       .head1{
        font-size: 35px;
        font-weight: 800;
        margin: 0;
       }
    .senda button{
        margin: 10px 0px;
        margin-bottom: 70px;
    }
    .chevron2{
        margin-top: 20px;
    }
  .footer{
    flex-wrap: wrap;
    text-align: center;
  }
  .footer1{
    width: 100%;
    margin-bottom: 30px;
  }
  .holder .footer2 {
    width: 100%;
    text-align: center;
  }
    }
    @media(max-width: 734px){
.main-port{
    flex-wrap: wrap;
}

.port3{
    width: 100%;
}
.port3{
    width: 100%;
}
.port3{
    width: 100%;
}
.port3{
    width: 100%;
}
.about{
    font-size: 20px;

}

.para3 p{
    font-size: 13px;
    width: 400px;
    margin: auto;
}
.company{
    background-image: url('images/about_bg.jpg');
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
    }

    @media(max-width: 706px){
        li{
            padding: 15px 8px;
            font-size: 14px;
            }
            
            .idea{
                font-family: Arial, Helvetica, sans-serif;
                /* margin-left: 130px; */
                color: white;
                
            }
            
            .work h4{
                font-size: 35px;
                width: 300px;
                padding: 30px;
                font-weight:800 ;
                margin-top: 50px;
            }
            
            .para{
                font-size: 15px;
                width: 400px;
                line-height: 26px;
                margin-bottom: 40px;
            }
            
            .btn{
                display: flex;
            }
            .btn1{
                padding: 10px 18px;
                text-align: center;
                font-size: 16px;
                border: 0;
            
            }
            .btn2{
                padding: 10px 40px;
                text-align: center;
                font-size: 16px;
                margin-left: 8px;
                border: 0;
            }
            
            .icon{
                font-size: 21px;
                margin-top: 22px;
            }
            
            .icons{
                padding: 3px;
            }
    }
    @media(max-width: 664px){
        .ton{
            margin-left: 80px;
        } 
    }
    @media(max-width: 664px){
        .project{
        flex-wrap: wrap;
        }
        .wrap1{
            width: 100%;
            text-align: center;
            margin-bottom: 50px;
        }
        .my-5{
            background-color: white;
            /* margin: auto; */
            height: 9px;
            margin-top: 10px;
            /* margin-left: 125px; */
        
        }
        
        .us{
            padding-top: 70px;
            /* text-align: center; */
            font-size: 25px;
            /* margin-left: 125px; */
        }
     
    }
   
        
        @media(max-width: 646px){
            .footer2 input{
                width: 200px;
                text-align: center;
              }
              .footer3 button{
                font-size: 13px;
            }
            .link1{
                flex-wrap: wrap;
                text-align: center;

            }
            .link-us{
                width: 100%;
                margin-bottom: 25px;
                
            }
            .link-us h4{
                margin-bottom: 7px;
            }
            .link-us p{
                margin-bottom: 5px;
            }
           
            }
            @media(max-width: 630px){
                .ton{
                    margin-left: 65px;
                } 
            }
            @media(max-width: 580px){
                .ton{
                    margin-left: 45px;
                } 
                .para7{
                    font-size: 11px;
                    color: grey;
                }
                .href1 a{
                    font-size: 15px;
                    margin-right: 10px;
                }
            }
            @media(max-width: 580px){
             .back{
                display: flex;
             }
             nav{
                display: block;

             }
             .para3{
                font-size: 16px;
                width: 100%;
            }
            ul{
                display: block;
            }
            .idea{
                margin-left: 30px;
            }
            .work h4{
                font-size: 35px;
                width: 300px;
                padding: 30px;
                font-weight:800 ;
                margin-top: 100px;
            }
            
            .para{
                font-size: 15px;
                width: 300px;
                line-height: 26px;
                margin-bottom: 40px;
            }
            .btn1{
                padding: 10px 15px;
                text-align: center;
                font-size: 14px;
            
            }
            .btn2{
                padding: 10px 40px;
                text-align: center;
                font-size: 14px;
                margin-left: 8px;
            }
            }
            @media(max-width: 514px){
                .ton{
                    margin-left: 30px;
                } 
                .done h2{
                    font-size: 25px;
                }
            }
            @media(max-width: 504px){
                .idea{
                    margin-left: 0px;
                }
            }
            @media(max-width: 509px){
                .mini{
                    border: 1px solid rgb(143, 139, 139);
                    margin: 20px 10px;
                    padding: 30px 40px;
                  width: 40%;
                       }
                       .mini{
                        border: 1px solid rgb(143, 139, 139);
                        margin: 20px 10px;
                        padding: 30px 40px;
                      width: 40%;
                           }
                           .mini{
                            border: 1px solid rgb(143, 139, 139);
                            margin: 20px 10px;
                            padding: 30px 40px;
                          width: 40%;
                               } 
                               .ton{
                                margin-left: 60px;
                            }  
            }
            @media(max-width: 480px){
                .ton{
                    margin-left: 40px;
                }  
                .back{
                    display: flex;
                 }
                 nav{
                    display: block;
    
                 }
                 .para3{
                    font-size: 16px;
                    width: 100%;
                }
                ul{
                    display: block;
                }
                .idea{
                    margin-left: 15px;
                }
                .work h4{
                    font-size: 25px;
                    width: 200px;
                    padding: 30px;
                    font-weight:800 ;
                    margin-top: 100px;
                }
                
                .para{
                    font-size: 15px;
                    width: 250px;
                    line-height: 26px;
                    margin-bottom: 40px;
                }
                .btn1{
                    padding: 10px 15px;
                    text-align: center;
                    font-size: 10px;
                
                }
                .btn2{
                    padding: 10px 40px;
                    text-align: center;
                    font-size: 10px;
                    margin-left: 8px;
                }
            }
            @media(max-width: 420px){
           

                .para7{
                    font-size: 10px;
                    color: grey;
                }
                .href1 a{
                    font-size: 10px;
                    margin-right: 10px;
                }
                .ton{
                    margin-left: 40px;
                }  
                .back{
                    display: flex;
                 }
                 nav{
                    display: block;
    
                 }
                 .para3 p{
                    font-size: 12px;
                    width: 100%;
                }
                ul{
                    display: block;
                }
                .idea{
                    margin-left: 15px;
                }
                .work h4{
                    font-size: 20px;
                    width: 150px;
                    padding: 30px;
                    font-weight:800 ;
                    margin-top: 100px;
                }
                
                .para{
                    font-size: 12px;
                    width: 220px;
                    line-height: 20px;
                    margin-bottom: 40px;
                }
                .btn1{
                    padding: 10px 15px;
                    text-align: center;
                    font-size: 10px;
                
                }
                .btn2{
                    padding: 10px 40px;
                    text-align: center;
                    font-size: 10px;
                    margin-left: 8px;
                }
                .head1{
                    font-size: 25px;
                    font-weight: 800;
                    margin: 0;
                   }
                   .footer2 input{
                    width: 120px;
                    text-align: center;
                  }
                  .footer3 button{
                    font-size: 13px;
                }
            }
            @media(max-width: 373px){
                .ton{
                 margin-left: 30px;   
                }
                .btn2{
                    padding: 10px 20px;
                    text-align: center;
                    font-size: 10px;
                    margin-left: 8px;
                }
                .do h2{
                    font-size: 25px;
                    font-weight: 800;
                }
                .done h2{
                    font-size: 18px;
                    font-weight: 800;
                }
                .us h2{
                    font-size: 25px;
                    font-weight: 800;
                }
                .see button{
                    padding: 15px 25px;
                   
                    font-size: 18px;
                
                }
                .sol button{
                    padding: 13px 20px;
                    border: none;
                    font-size: 12px;
                   }
                   .href1 a{
                    font-size: 10px;
                    margin-right: 5px;
                }
            }
            @media(max-width: 348px){
                .work h4{
                    font-size: 18px;
                    width: 120px;
                    /* padding: 30px; */
                    font-weight:800 ;
                    margin-top: 100px;
                }
              .para{
                    font-size: 12px;
                    width: 150px;
                  
                } 
               
                .btn{
                    display: block;
                }     
                   .btn1{
                    padding: 10px 10px;
                    text-align: center;
                    font-size: 10px;
                margin-bottom: 20px;
                }
                .btn2{
                    padding: 10px 25px;
                    text-align: center;
                    font-size: 10px;
                    margin-left: 8px;
                }
                .back{
                    height: 550px;
                }
                 .ton{
                 margin-left: 20px;   
                }
                  .max2{
    max-width: 220px;
    margin: auto;
    height: 300px;
  
}
.head1{
    font-size: 23px;
    font-weight: 800;
    margin: 0;
   }
.dan-img{
position: absolute;
top: 60px;
left: 230px;
}
.dan{
margin-top: 50px;
}
.dan1-img{
position: absolute;
top: -35px;
}
.dan1{
margin-left: 130px;
font-size: 18px;
}
.para5{
font-size: 12px;
line-height: 20px;
}
.chevron2 {
    /* margin: 30px 0px 0px 68px; */
    margin-bottom: 50px;
}
.footer2 input{
    width: 120px;
    text-align: center;
    padding: 18px;
  }
  .footer3 button{
    font-size: 10px;
    padding: 20px 10px;
}
            }
@media(max-width: 341px){
     

    .para7{
        font-size: 7px;
        color: grey;
    }
    .href1 a{
        font-size: 7px;
        margin-right: 5px;
    }
}
@media(max-width: 323px){
     
    .ton{
        margin-left: 0px;   
       }
       .done{
        margin-left: 0px;
       }
       
.my-1{
    text-align: right;
    margin-left: 0px;

}

.my-5{

    margin-left: 0px;

}

.us{
    margin-left: 0px;
}

 
}
@media(max-width: 280px){
    .max2{
        max-width: 180px;
        margin: auto;
        height: 300px;
      
    }
    .head1{
        font-size: 20px;
        font-weight: 800;
        margin: 0;
       }
    .dan-img{
    position: absolute;
    top: 60px;
    left: 200px;
    }
    .dan{
    margin-top: 50px;
    }
    .dan1-img{
    position: absolute;
    top: -35px;
    }
    .dan1{
    margin-left: 150px;
    font-size: 18px;
    } 
    .chevron2 {
        margin: 30px 0px 30px 48px;
        /* margin-bottom: 50px; */
    }
    .footer2 input{
        width: 100px;
        text-align: center;
        padding: 18px;
      }
      .footer3 button{
        font-size: 10px;
        padding: 20px 10px;
    }
    .work h4{
        font-size: 18px;
        width: 120px;
        /* padding: 30px; */
        font-weight:800 ;
        margin-top: 100px;
    }
  .para{
        font-size: 12px;
        width: 120px;
      
    } 

}